body{  overflow: hidden; }
body,html{ height: 100%; min-width: 260px;}

header{
	background: #202020 ;
	min-height: 70px;
	width: 100%;
}

#logo{
	color: #e9e9e9;
	float: left;
	font-family: 'Paytone One';
	font-size: 2em;
	font-weight: 1.8em;
	line-height: 58px;
	margin-left: 1em;
	position: absolute;
	z-index: 1;
}

nav{
	display: none;
	position: relative;
	z-index: 8;
}

nav ul{
	background: #2e2e2e;
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
}

nav ul li a{
	color: #e9e9e9;
	text-decoration: none;
	display: block;
	padding: 0.5em 0;
	width: 100%;
}

nav ul li{
	display: block;
	width: 100%;
	border-width: 0.3px;
	border-color: #3c3c3c;
	border-style: solid;
	background: #2e2e2e;
	font-size: 1.5em;
}
.sc-content_ctc{
	display: block;
	width: 40%;
	padding-top: 3em;
	margin: 0 auto;
}

.sc-content_pro{
	display: block;
	width: 80%;
	margin: 0 auto;
}


.sc-content_ctc input[type=text],.sc-content_ctc textarea{
	background: #FFF;
	background: rgba(255,255,255,0.8);
	display: block;
	width: 95%;
	margin: 0.5em auto;
	padding: 0.5em;
	border:0;
	outline: 0;
	font-size: 1.2em;
}

.sc-content_ctc textarea{
	min-height: 120px;
	max-height: 250px;
}


.sc-content_ctc input[type=submit]{
	display: block;
	margin: 0.5em auto;
	padding: 0.5em;
	border:0;
	outline: 0;
	font-size: 1.2em;
	width: 50%;
}

#menu-show{display: none;position: relative; z-index: 9; max-width: 30px; margin-top:23.5px;}

#menu-show img{display: block; width: 100%;}

#slogan,#menu-show{  
	color: #3c3c3c;
	position: absolute;
	font-family: 'Titan One',cursive;
	font-size: 1.6em; 
	font-style: italic; 
	height: 100%; 
	line-height: 2.5em; 
	right: 1em ; 
}

#content{
	width: 100%;
	position: relative;
	background: #CCC;
}

#content .uls{
	height: 100%;
	list-style: none;
	margin: 0 !important;
	padding: 0;
	width: 100%;
}

.sc-title:hover .sc-title_s{ opacity: 0.8 }

#content .uls .lis{
	display: inline-block;
	height: 100%;
	margin: 0;
	margin-left: -10px;
	padding: 0;
	position: relative;
	width: 60px;
}


#usr-pp{
	float: left;
	max-width: 20%;
	margin:2%;
	margin-right: 3%;
	border: 1em solid #ffad00;
	-webkit-transform: skew(4deg,0);
}

#usr-bio{
	padding-top: 0em;
	font-family: 'Fauna One';

	text-align: justify;
}

.sc-content_bio{
	display: block;
	width: 90%;
	padding-top: 2em;
	margin:0 auto;
}

#usr-pp img{
	display: block;
	width: 100%;
}


#ctc-social ul{
	display: block;
	width: 50% !important;
	margin: 2.5em  auto 0 auto !important;
}

#ctc-social ul li{
	display: inline-block;
	margin-left: -10px;
	width: 22% !important
}

#ctc-social ul li a,#ctc-social ul li a img{
	display: block;
	width: 100%;
}

#ctc-social ul li a img:hover{
	opacity: 0.7;
}

#stitle{ display: inline-block; }

.sc-title{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}



.sc-title_s{
	position: absolute;
	bottom: 45%;
	left: 25%;
	font-size: 1.8em;
	white-space: nowrap;
	width: 30px;

	transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform:rotate(-90deg);
}

.sc-content{
	display: none;
	height: 100%;
	left: 50%;
	margin-left: -49.5%;
	overflow: auto;
	position: absolute;
	top: 0;
	width: 99%;
}

#content .uls .lis:first-child{
	margin-left: 0;
}

@media screen and (max-width: 960px){

	.sc-content_ctc{
		width: 90%;
	}

	body{ overflow: auto; }

	#menu-show{display: block;cursor: pointer;}

	nav{
		margin:0 !important;
		padding-top: 70px;
	}

	#logo{margin-left: 5%;	}

	#content{
		height: auto !important;
	}

	#content .uls .lis, #content .uls{
		opacity: 1;
		position: relative;
		display: block !important;
		margin-left: 0;
		width: 100% !important;
		height: auto !important;
	}

	#ctc-social ul li{
		display: inline-block;
		width: 22% !important;
	}

	#usr-pp{
		float: none;
		display: block;
		max-width: 90%;
		margin:2% auto;
		border: 0.5em solid #ffad00;
		-webkit-transform: none;
	}

	#usr-bio{
		padding-top: 0em;
	}

	#stitle{display: none;}

	.sc-content{
		display: block !important;
		height: auto;
		left: 0;
		margin-left: 0;
		position: relative;
		width: auto;
	}

	.sc-title, .sc-content, nav ul li a{
		width: 90% !important;
		margin: 0 auto;
	}

	.sc-title{
		position: relative;
		display: block !important;
	}

	.sc-title_s{
		left: 0;
		bottom: 0;
		width: auto;
		position: relative;
		display: block;
		transform: none;
		-moz-transform: none;
		-webkit-transform: none;
	}

	#slogan{  display: none; font-family: "Patua One" !important;}
}

/*
	==== COLORS
*/

.yellow-1{	background: url('/static/b/sh_yellow.png') #ffad00; }
.yellow-2{ 	background: url('/static/b/sh_yelloww.png') #ffb619; }
.blue-1{ background: url('/static/b/sh_blue.png') #0041b3; }
.blue-2{ background: url('/static/b/sh_bluee.png') #005cff ; }



.da-thumbs {
	list-style: none;
	width: 100%;
	position: relative;
	margin: 20px auto;
	padding: 0;
}
.da-thumbs li {
	background: rgba(255,255,255,0.8);
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	float: left;
	height: 230px;
	margin: 5px;
	overflow: hidden;
	padding: 8px;
	position: relative;
	width: 250px;
}
.da-thumbs li a,
.da-thumbs li a img {
	height: 100%;
	display: block;
	position: relative;
}

.da-thumbs li a img{

}

.da-thumbs li a {
	overflow: hidden;
}
.da-thumbs li a .df {
	position: absolute;
	background: #333;
	background: rgba(75,75,75,0.7);
	width: 100%;
	height: 100%;
}

.spa .info{
	font-size: 0.8em;
}

.da-thumbs li a div .spa {
	display: block;
	padding: 10px 0;
	margin: 40px 20px 20px 20px;
	text-transform: uppercase;
	font-weight: normal;
	color: rgba(255,255,255,0.9);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.5);
	box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
}