<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="es"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="es"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="es"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="es"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta name="GOOGLEBOT" content="NOODP" />
		<meta name="googlebot" content="noodp" />
		<meta content="" name="description" />
		<meta content="" name="keywords" /> 	
		<!--
			======================
				SOCIAL METATAGS
			======================
		-->
		<meta property="og:image" content="" >
		<meta property="og:title" content="Henoc Dz | Web Developer" >
		<meta property="og:site_name" content="Henoc Dz" >
		<meta property="og:type" content="website" >
		<meta property="og:description" content="" >
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@henocdz">
		<meta name="twitter:title" content="Henoc Dz">
		<meta name="twitter:description" content="">
		<meta name="twitter:image:src" content="">
		<meta name="twitter:domain" content="rfdz.mx">
		<title>Henoc D&iacute;az - Web Developer</title>


		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<link href='http://fonts.googleapis.com/css?family=Paytone+One|Fauna+One|Titan+One|Patua+One' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{STATIC_URL}}css/normalize.css" /> <!-- HTML5 BP-->
		<link rel="stylesheet" href="{{STATIC_URL}}css/main.css" /> <!-- HTML5 BP-->
		<link rel="stylesheet" href="{{STATIC_URL}}css/style.css" />

	</head>
	<body>
		<header>
			<div id="logo">Henoc Dz<span id="stitle"></span></div>
			<div id="slogan">"It works in my machine!"</div>
			<div id="menu-show"><img src="{{STATIC_URL}}i/menu.png" alt="Ver menu" /></div>
		
		<nav id="menu">
			<ul>
				<li><a href="#about" >Acerca de</a></li>
				<li><a href="#projects" >Proyectos</a></li>
				<li><a href="#tutorials" >Tutoriales</a></li>
				<li><a href="#contact" >Contacto</a></li>
			</ul>
		</nav>
		</header>

		<section id="content">
			<ul class="uls">
				<li id="about" class="sc lis yellow-1" >
					<div class="sc-title">
						<span class="sc-title_s">Acerca de</span>
					</div>
					<div class="sc-content">

						<div class="sc-content_bio">
							<div id="usr-pp">
								<img src="{{usr.pic.url}}" alt="Henoc D&iacute;az"/>
							</div>
							<div id="usr-bio">
								{% autoescape off %}
								{{usr.bio_es}}
								{% endautoescape %}
							</div>
						</div>
					</div>
				</li>
				<li id="projects" class="sc lis yellow-2" >
					<div class="sc-title">
						<span class="sc-title_s">Proyectos</span>
					</div>
					<div class="sc-content">
						<div class="sc-content_pro">
						
							<ul id="da-thumbs" class="da-thumbs">

								{% for p in projects %}	
								<li>
									<a href="{{p.site_url}}" target="blank">
										<img src="/media/{{p.thumbnail}}" alt="{{p.name}}" />
										<div class="df"><div class="spa">
											<strong>{{p.name|capfirst}}</strong> <br />
											<div class="info">
											<strong>+Info: </strong><em>{{p.description}}</em><br />
											<strong>Tecnolog&iacute;as: </strong> <em>{{p.languages}}</em><br />
											<strong>Fecha: </strong> <em>{{p.date|date:'j M, Y'}}</em> <br/>
											</div>
										</div></div>
									</a>
								</li>
							{% endfor %}
								
							</ul>

						</div>
					</div>
				</li>
				<li id="tutorials" class="sc lis blue-1" >
					<div class="sc-title">
						<span class="sc-title_s">Tutoriales</span>
					</div>
					<div class="sc-content">
						<div class="sc-content_pro">
							<ul id="da-thumbs" class="da-thumbs">

							

							{% for c in courses %}	
								<li>
									<a href="http://youtube.com/playlist?list={{c.playlist_id}}" target="blank">
										<img src="/media/{{c.thumbnail}}" alt="{{c.name}}" />
										<div><span>
											{{c.name|capfirst}} <br />
											<strong>Tecnolog&iacute;as: </strong> <em>{{c.languages}}</em>

										</span></div>
											
									</a>
								</li>
							{% endfor %}
								
							</ul>
						</div>
					</div>
				</li>
				<li id="contact" class="sc lis blue-2" >
					<div class="sc-title">
						<span class="sc-title_s">Contacto</span>
					</div>
					<div class="sc-content">
						<div class="sc-content_ctc">
							
							<form name="ctc_form" action="/contact/send/" method="POST">
								<input type="text" name="_name" placeholder="Nombre" />
								<input type="text" name="_email"  placeholder="Correo electr&oacute;nico" />
								<input type="text" name="_subject"  placeholder="Asunto" />

								<textarea name="_message" placeholder="Mensaje"></textarea>
								<input type="submit" name="_send" value="Enviar" />
							</form>

							<div id="ctc-social">
								<ul>
									<li class="ib">
										<a href="http://facebook.com/roofdierdz" target="_blank">
											<img src="{{STATIC_URL}}i/facebook.png" alt="Facebook" />
										</a>
									</li>
									<li class="ib">
										<a href="http://twitter.com/henocdz" target="_blank">
											<img src="{{STATIC_URL}}i/twitter.png" alt="Twitter" />
										</a>
									</li>
									<li class="ib">
										<a href="http://youtube.com/roofdierdz" target="_blank">
											<img src="{{STATIC_URL}}i/youtube.png" alt="Youtube" />
										</a>
									</li>
									<li class="ib">
										<a href="" target="_blank">
											<img src="{{STATIC_URL}}i/google.png" alt="google +" />
										</a>
									</li>
								</ul>
							</div>
						</div>
						
					</div>
				</li>
			</ul>
		</section>


		<script src="{{STATIC_URL}}util/jquery-1.9.1.min.js"></script>
		<script src="{{STATIC_URL}}util/hoverdir/js/modernizr.custom.97074.js"></script>
		<script src="{{STATIC_URL}}util/hoverdir/js/jquery.hoverdir.js"></script>
		<script src="{{STATIC_URL}}js/main.js"></script>
	</body>
</html>